/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 */
 /* entire container, keeps perspective */
.flip-container {
perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
transform: rotateY(180deg);
}

.flip-container, .front, .back {
width: 15em;
height: 15em;
}

/* flip speed goes here */
.flipper {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

 /* hide back of pane during swap */
.front, .back {
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
}

/* front pane, placed above back */
.front {
z-index: 2;
/* for firefox 31 */
transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
transform: rotateY(180deg);
}

@-webkit-keyframes hvr-pulse-grow {
to {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
}
@keyframes hvr-pulse-grow {
to {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
}
.hvr-pulse-grow {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
-webkit-animation-name: hvr-pulse-grow;
animation-name: hvr-pulse-grow;
-webkit-animation-duration: 0.3s;
animation-duration: 0.3s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
animation-direction: alternate;
}

#invisible{
display: none;
}

#visible{
display:list-item;
}

a{
color: white;
}

.post-module {
border-color: #429EA6;
border-radius: 3%;
position: relative;
z-index: 1;
background-size: cover;
background-color: #FFFFFF;
height: 320px;
margin-top: 10px;
padding-top: 10px;
align-content: center;
text-align: center;
}

#tilecontainer{
position: relative;
text-align: center;
}

.centered {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
}

pre{
display: none;
}

.weathertile{
background: transparent;
}

#menu{
background-color: #FFFFFF;
color: #C3511D;
}

#menuButt{
/*filter: brightness(150%);*/
background-color: #C3511D;
color: white;
text: bold;
}

#navbar{
background-color: #429EA6;
color: #FFFFFF;
}

.button {
display: inline-block;
width: 120px;
height: 40px;
background-color: #429EA6;
color:#C3511D;
}

body {
background-color: #FFFFFF;
}

label {
font-family: sans-serif;
color:#C3511D;
}

.marker {
background-image: url('https://image.freepik.com/free-icon/pins-maps-walk-trail_318-27159.jpg');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}

#findtrails{
font-family: 'Berkshire Swash', cursive;
color:#C3511D;
}

#map{
/*filter: brightness(110%);*/
padding-bottom: .5em;
border-width: 7px;
border-style: solid;
border-color: #429EA6;
margin-left: auto;
margin-right: auto;
width: 80%;
height: 500px;
}

#title1{
color:#C3511D;
}

#title1:hover{
color: #FFA278
}

#title{
font-size: 5.1em;
}

#title{
text-rendering: optimizeLegibility;
font-size-adjust: auto;
font-size: 5em;
vertical-align: middle;
line-height: 200px;
filter:contrast(110%);
}

.top-bar{
filter: brightness(150%);
font-family: 'Berkshire Swash', cursive;
border-style:solid;
border-width: 7px;
border-color: #429EA6;
color:#C3511D;
text-rendering: optimizeLegibility;
text-align: center;
font-stretch: extra-expanded;
background-size:cover;
background-position: center;
background-repeat: no-repeat;
background-image: url('http://www.ethnography.com/wp-content/themes/pure-simple/images/banner.jpg');
padding-bottom: 5px;
margin-bottom: 5px;
padding: 5px;
height: 200px;
}

a{
background-color: #C3511D;
}

#submit1{
text-align: center;
background-color: #C3511D;
color: white;
text: bold;
width: 240px;
height: 40px;
}

#submit1:hover{
background-color: #FFA278;
}

#submit{
text-align: center;
background-color: #C3511D;
color: white;
text: bold;
width: 160px;
height: 40px;
}

#showImage{
display: block;
margin: auto;
width: 50%;
padding: .5em;
}

#tileImg{
border-color: #C3511D;
shadow: 10px;
border-radius: 3%;
height: 15em;
width: 15em;
position: sticky;
align-content: center;
border-style: solid;
border-width: medium;
}

#trailshowtitle{
font-family: 'Berkshire Swash', cursive;
color:#C3511D;
font-weight: bold;
margin: auto;
text-align: center;
border-width: medium;
border-color: #C3511D;
padding: .5em;
}

#forecast{
font-family: 'Berkshire Swash', cursive;
color:#C3511D;
font-weight: bold;
}

.showinfo{
margin: auto;
padding: .5em;
}


.info{
font-weight: bold;
color: #C3511D;
font-family: sans-serif;
}

#tileText:hover{
font-size: 1.6em;
color: #FFA278;
}

#tileText{
font-family: 'Berkshire Swash', cursive;
color:#C3511D;
font-weight: bold;
font-size: 1.5em;
margin: auto;
text-align: center;
padding: .5em;
}

footer{
background-color: #429EA6;
text-align: center;
vertical-align: middle;
height: 50px;
padding-top: .5em;
color: #C3511D;
font-family: 'Berkshire Swash', cursive;
}
