/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #fly{
display: block;
position: relative;
margin: 0px auto;
width: 50%;
height: 40px;
padding: 10px;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: center;
color: #fff;
background: #ee8a65;
}

#googlewelcome{
text-decoration: bold;
color: #8c4511;
}

#map{
border-width: thick;
border-style: solid;
border-color: #da9432;
}

.top-bar {
color:#313131;
text-rendering: optimizeLegibility;
text-shadow: 2px 2px white;
text-align: center;
background-size: auto;
background-image: url('https://thumbs.dreamstime.com/t/mountain-range-summer-landscape-horizontal-banner-vector-illustration-69212905.jpg');
box-shadow: inset 10px 10px 10px rgba(0,0,0,0.8);
padding-bottom: 5px;
margin-bottom: 5px;
}

#tileImg {
shadow: 10px;
border-radius: 20%;
height: 15em;
width: 15em;
border-style: inset;
border-width: medium;
}

#tileText{
font-weight: bold;
margin: auto;
text-align: center;
}
